# SEMANA 04
Dharma Bonifacio

Agenda

1.Números
2.Variables
3.Manejo de cadenas
4.Ingreso por el eclado
5.Operadores

3.Manejo de cadenas

In [2]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"

In [3]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [4]:
#Universidad Nacional Tecnológica de Lima Sur
#01234...
#

In [5]:
cadena[5]

'r'

In [6]:
cadena[11]

' '

In [7]:
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
cadena[-23]

'T'

In [10]:
#Para mostrar uan asubcadena [desde, hasta una antes]
#En java era String()
cadena[3:8]

'versi'

In [11]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espaciosen blanco
len(cadena)

44

In [12]:
#Para cadena mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [13]:
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [14]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [15]:
#Generar una lista a partir de una cadena . split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [16]:
#Generar una lista utilizando un criterio de separación a partir de una cadena.
#En este caso vamos a generar una lista dre toda la cadena,
#utilizando como criterio de separación la letra "a"
cadena.split("a")

AttributeError: 'str' object has no attribute 'ssplit'

In [17]:
#Generar una lista utilizando un criterio de separación a partir de una cadena.
#En este caso vamos a generar una lista dre toda la cadena,
#utilizando como criterio de separación la letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

3 formas de Concatenar

In [18]:
#Forma clásica concatener con +
nombre = "Dharma Bonifacio"
edad = 19
print("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Dharma Bonifacio ya se que tienes 19 años

In [19]:
#Dar formato a números con muchos decimales
resultado =10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.2f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.33

In [20]:
#Dar formato con f
#La funcion f, está disponible desde la versión 3.6
nombre = "Dharma Bonifacio"
edad = 19
print(f"Bunos días {nombre}, ya se que tines {edad} años")

Bunos días Dharma Bonifacio, ya se que tines 19 años

In [21]:
#Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.2f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.33