Agenda

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso por el eclado
5. Operadores

2. Variables

In [1]:
# Se debe iniciar siempre con una letra o un guión abajo . (Nunca con un número u otro símbolo)

In [2]:
edad = 21

In [3]:
edad

21

In [15]:
nombre = "Dharma"

In [16]:
apellido = "Bonifacio"

In [17]:
nombre_completo = apellido + " " + nombre

In [18]:
nombre_completo

'Bonifacio Dharma'

In [19]:
#Para saber el tipo de variable utilizamos la función type()
#Por ejemplo:
numero = 50
type(numero)

int

In [20]:
talla = 1.66

In [21]:
talla

1.66

In [22]:
type(talla)

float

In [23]:
#Para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str (numero)
cadena

'100'

In [24]:
type(cadena)

str

In [25]:
#Para convertir una cadena a numero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [26]:
#para convertir una cadena a decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [27]:
type(numero)

int

In [28]:
type(numero2)

float