#Semana 04

Agenda

1.Números
2.Variables
3.Manejo de cadenas
4.Ingreso por el eclado
5.Operadores

5. Operadores

In [2]:
#5.1 operadores aritméticos
#Se tiene : +, -, *, /, **, %, //

In [3]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
print(suma)
print(resta)

13
7

In [4]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [5]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [6]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [7]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [8]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=,

In [9]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [10]:
# Con las cadenas funciona igual
nombre1 = "Pedro"
nombre2 = "Pedro"
nombre1 == nombre2

True

In [11]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [12]:
numero1 < numero2

True

In [13]:
# El not invierte el resultado
not(numero1<numero2)

False

In [14]:
numero1<numero2 and numero3<numero4

True

In [15]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [16]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [17]:
# Miremos un ejemplo:

In [18]:
aula = ["Pedro", "Giaco", "Victor"]
alumno1 = "Carlos"
alumno2 = "Pedro"

In [19]:
# ¿Carlos está en aula?
alumno1 in aula

False

In [20]:
# ¿Pedro está en aula?
alumno2 in aula

True

In [21]:
# ¿Carlos no está en aula?
alumno1 not in aula

True

In [22]:
# ¿Pedro no está en aula?
alumno2 not in aula

False

In [23]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [24]:
aula1 = ["Pedro", "Giaco", "Victor"]
aula2 = ["Pedro", "Giaco", "Victor"]
# A continuación vamos a indicar que aula3 va a
# compartir el mismo objeto que aula1
aula3 = aula1

In [25]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [26]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [27]:
# ¿ aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [28]:
aula1.append("Carlos")

In [29]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Pedro', 'Giaco', 'Victor', 'Carlos']

In [30]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Pedro', 'Giaco', 'Victor', 'Carlos']

In [31]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Pedro', 'Giaco', 'Victor']